* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    color: #262449;
    background-color: #CBFAFF;
    cursor: default;
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 40px;
}

header ul {
    display: flex;
    list-style: none;
    gap: 50px;
}

header a {
    color: #262449;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
}

header a:hover {
    text-decoration:underline;
}